<div class="head">
	<div class="ui container">
		<div class="ui pointing inverted menu">

		  <a class="item" href="OrderController/orders">
              Orders
		  </a>
            <a class="item" href="OrderController/get/3">
                Detail order
            </a>
            <a class="item" href="OrderController/getBasket/2">
                Detail panier
            </a>
            <a class="item" href="OrderController/search">
                Recherche
            </a>
		</div>
	</div>
</div>
